################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskHub/TaskHub/obj
/TaskHub/.vs/TaskHub
